<div class="hero">
    <div class="hero-image">
        <img src="https://nova.loginto.me/scnova/nova7lenses.png" alt="My Image">
    </div>
    <div class="hero-text">
        <h2>Hi, ich bin</h2>
        <h1 class="color-accent">UnskilledEntity</h1>
        <h3 class="color-primary">Nerd, Doofi, Star Citizen Enthusiast</h3>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis nulla delectus esse aperiam ab voluptas? Vero, quo? Distinctio, recusandae doloremque! Sed et deserunt officia possimus deleniti, quibusdam libero iure distinctio accusamus ipsum.
        </p>
    </div>
</div>

<style>
    .hero {
        display: flex;
        width: 100%;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
    }
    .hero-text > * {
        text-align: center;
        margin-bottom: 0.5rem;
        margin-top: 0;
        margin-right:1rem;
    }
    .hero .hero-image {
        height: 500px;
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .hero-image img {
        max-height: 100%;
        max-width: 100%;
        transform: rotate(0deg) scaleX(-1);
    }
    .hero .hero-text {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .hero-text p {
        margin-top: 1rem;
        border: 1px solid var(--color-primary);
        background-color: rgba(0,0,0,0.2);
        border-radius: 15px;
        padding: 1rem;
        max-width: 50%;
    }
    /* .hero-text p::before {
        content: '"';
    }
    .hero-text p::after {
        content: '"';
    } */
    .color-accent {
        color: var(--color-accent);
    }
    .color-primary {
        color: var(--color-primary);
    }
</style>