---
interface Props {
	title: string;
	progress: string;
}

const { title, progress } = Astro.props;
---

<li class="progress">
    <h3>{title}</h3>
    <div class="skill-shadow">
        <div class="skill-bar">
            <span class="value">{progress}</span>
        </div>
    </div>
</li>


<style>
    li.progress {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    li.progress .skill-shadow {
        background-color: #3030307b;
        border-radius: 1rem;
        width: 100%;
    }
    .skill-shadow .skill-bar {
        background-color: #f80808;
        border-radius: 1rem;
        width: 42%;
        padding: 1rem;
        font-style: italic;
        color: #eeeeee;
        text-shadow: 1px 1px 2px #303030;
        font-size: 1.1em;
    }
    .skill-bar > span.value::after {
        content: " %";
    }
</style>