<ul>
    <li class="timeline-item">
        <div class="timeline-dot"></div>
        <span class="timeline-date">1976</span>
        <div class="timeline-content">
            <h3>Der Golgathaner</h3>
            <p>Nicht geboren - in die Welt geschissen</p>
        </div>
    </li>
    <li class="timeline-item">
        <div class="timeline-dot"></div>
        <span class="timeline-date">1999</span>
        <div class="timeline-content">
            <h3>Es beginnt...</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, quae?</p>
        </div>
    </li>
    <li class="timeline-item">
        <div class="timeline-dot"></div>
        <span class="timeline-date">2019</span>
        <div class="timeline-content">
            <h3>Der Untergang</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure ratione mollitia alias.</p>
        </div>
    </li>
    <li class="timeline-item">
        <div class="timeline-dot"></div>
        <span class="timeline-date">2023</span>
        <div class="timeline-content">
            <h3>New Life...</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci quas incidunt deserunt dolores dolore voluptate?</p>
        </div>
    </li>
</ul>